<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Location <span class="label label-default">We are here</span>
                    </h4>
                    <p class="white">School of Aeronautics, Friendship Campus, <br>NWPU</br>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Collaborate with us <span class="label label-default">let's connect</span>
                    </h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/609520262/Entropy-theory" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-gitlab"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-bitbucket"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>About us <span class="label label-default">IMLAB</span>
                    </h4>
                    <img src="/assets/微信图片_20230308214236.jpg" alt="微信图片_20230224174522.jpg" />
                    <p class="white">Intelligent Operations and Maintenance Laboratory</p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">

                    <p class="black">Copyright &copy; IMALB 2023,Made by IMLAB</a> In China. </p>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- Scroll to Top Button -->
<button href="#top" id="backToTopBtn" class="btn btn-md scroll"><span class="glyphicon glyphicon-chevron-up"></span></button>
<script>
    $('#backToTopBtn').click(function() {
        $('html,body').animate({
            scrollTop: 0
        }, 'slow');
        return false;
    });
</script>
<script>
    $(document).ready(function() {

        //Check to see if the window is top if not then display button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('.scroll').fadeIn();
            } else {
                $('.scroll').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scroll').click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

	$('.slider1').slick({

  speed: 500,
autoplay:true,
autoplaySpeed:3000,
dots:true,
pauseOnFocus:false,
// the magic

});

    });
</script>
<script>
    jQuery(function() {
        SphinxRtdTheme.Navigation.enable(true);
    });

    /**  需求：
         *  1、自动切换图片
            2、鼠标移入，图片暂停，移出，图片恢复轮播
            3、左右两个按钮，点击可以切换上一张或下一张
            4、下面的四个小圆点会随图片变颜色
            5、小圆点可以点击并切换到对应的图片上
        */

    //获取把圆点节点放置的盒子节点，即p节点
    let pEle = document.getElementsByClassName("left_news")[0].getElementsByTagName("p")[0];;
    //获取事件代理的父元素section
    let secEle = document.getElementsByClassName("left_news")[0].getElementsByTagName("img")[0];

    let imgArr = ["/assets/微信图片_20230308184719.jpg", "/assets/home-office.jpg", "/assets/微信图片_20230308184719.jpg", "/assets/微信图片_20230313160603.jpg"]
        //获取时间函数的起始下标
    let i = 0;
    //图片有多少张，就传几个参进去，并且接收这个返回的数组
    let cirArr = creatCircle(imgArr.length);
    //遍历cirArr数组，将圆点添加进它的父节点p节点中
    cirArr.forEach(node => pEle.appendChild(node));

    //获取所有的圆点节点
    var iEle = document.getElementsByClassName("left_news")[0].getElementsByTagName("i");
    //给每一个圆点添加上自定义属性，并赋上下标
    for (let k = 0; k < iEle.length; k++) {
        iEle[k].dataset.index = k;
    }

    let timer;
    //轮播：时间函数，1秒自动换一张
    function playTime() {
        timer = setInterval(() => {
            //循环展示图片
            i++;
            //如果已经跳到最后一张，就再次回到第一张
            if (i > imgArr.length - 1) {
                i = 0;
            }
            //给圆点添加样式，开始运行该函数
            addStyleI(i);
            //图片标签地址（src属性）
            secEle.setAttribute('src', imgArr[i]);
        }, 3000);
    }
    playTime();

    // 鼠标移入，图片暂停
    secEle.addEventListener("mouseenter", function() {
        clearInterval(timer);
        timer = null;
    });
    // 鼠标移出，图片恢复滚动
    secEle.addEventListener("mouseleave", playTime);



    //暂停图片滚动
    function picScroll() {
        clearInterval(timer);
    }

    //生成圆点
    function creatCircle(num) {
        //创建一个空数组来接收这个圆点
        let iArr = [];
        for (let j = 0; j < num; j++) {
            //新增圆点节点
            let circleNode = document.createElement("i");
            //再把新增的圆点节点放进圆点数组中
            iArr.push(circleNode);
        }
        //完成后，返回该数组
        return iArr;
    }

    //给圆点添加样式
    function addStyleI(index) {
        //圆点的默认颜色是灰色
        Array.from(iEle).forEach(node => node.style.backgroundColor = "gray");
        //当跳到该图片时，圆点变成白色
        console.log(iEle[index]);
        iEle[index].style.backgroundColor = "white";

    }
</script>




<% if (config.disqus_shortname){ %>
    <script>
        var disqus_shortname = '<%= config.disqus_shortname %>';
        <% if (page.permalink){ %>
        var disqus_url = '<%= page.permalink %>';
        <% } %>
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <% } %>