<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="#" class="logo"><img src="/assets/LOGO.jpg" alt="Italian Trulli"></a>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/">主页</a>
                </li>
                <li class="page-scroll">
                    <a href="/Member">成员</a>
                </li>
                <li class="page-scroll">
                    <a href="/Entropy Theory/">研究方向</a>
                    <ul id="guides-menu" class="submenu guides inline-submenu-lg" aria-labelledby="guides-button">
                        <li class="apis-link-container mobile-only ">
                            <a href="/Entropy Theory/" class="submenu-item ">
                                <div class="submenu-icon learn"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">熵值理论</div>
                                    <p class="submenu-item-description">描述信息源各可能事件发生的不确定性</p>
                                </div>
                            </a>
                        </li>
                        <li class="apis-link-container desktop-only ">
                            <a href="/Artificial Intelligence/" class="submenu-item ">
                                <div class="submenu-icon learn"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">人工智能</div>
                                    <p class="submenu-item-description">它是研究、开发用于模拟、延伸和扩展人的智能的理论、方法、技术及应用系统的一门新的技术科学。</p>
                                </div>
                            </a>
                        </li>
                        <li class="html-link-container ">
                            <a href="/Dynamic Systems/" class="submenu-item ">
                                <div class="submenu-icon html"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">动态系统</div>
                                    <p class="submenu-item-description">动态系统是指状态随时间而变化的系统</p>
                                </div>
                            </a>
                        </li>
                        <li class="css-link-container ">
                            <a href="/Robot/" class="submenu-item ">
                                <div class="submenu-icon css"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">无人系统</div>
                                    <p class="submenu-item-description">智能无人集群系统指若干无人系统根据任务分工，在一定时间、空间内协同完成复杂任务的整体系统</p>
                                </div>
                            </a>
                        </li>
                        <li class="javascript-link-container ">
                            <a href="/Fault Diagnosis/" class="submenu-item ">
                                <div class="submenu-icon javascript"></div>
                                <div class="submenu-content-container">
                                    <div class="submenu-item-heading">信号处理与故障诊断</div>
                                    <p class="submenu-item-description">基于信号的处理方法主要通过某种信息处理和提取信号特征实现故障诊断</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="page-scroll">
                    <a href="/Rotating machinery/">转子故障试验台</a>
                </li>
                <li class="page-scroll">
                    <a href="/docs">熵值理论</a>
                </li>

                <li class="page-scroll">
                    <a href="/Public1">发表</a>
                </li>
				<li class="page-scroll">
                    <a href="/News">动态</a>
                </li>
                <li class="page-scroll">
                    <a href="/docs">教程</a>
                </li>
                <li class="page-scroll">
                    <a href="/Download">下载</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>